
    <div class="container-fluid">
      <div class="row grid-contador">

      </div>
    <!-- nav -->
      <nav id="header" class="navbar ">
          <div id="header-container" class="navbar-container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a id="brand" class="navbar-brand" href="#">Project name</a>
              </div>
              <div id="navbar" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                      <li class="active"><a href="#">Suplementos</a></li>
                      <li><a href="#about">Vestimenta</a></li>
                      <li><a href="#contact">Accesorios</a></li>
                        <li><a href="#contact">Stack</a></li>
                  </ul>
                  <ul class="nav navbar-nav">
                      <li><a href="#about">Buscador</a></li>
                      <li class="active"><a href="#">Iniciar sesion</a></li>
                      <li><a href="#contact">Carro</a></li>

                  </ul>
              </div><!-- /.nav-collapse -->
          </div><!-- /.container -->
      </nav><!-- /.navbar -->

    <!-- nav -->
<div class="row">

    <div class="container">
      <div class="col-md-12">
        <a href="#">Volver al carro</a>
      </div>
      <div class="col-md-8">
        <!-- gird- productos -->
        <!-- BOX PRODUCTO -->
        <div class="row box-producto-carro">
            <div class="col-md-2">
              <img src="images/platinum.png" alt="">
            </div>
            <div class="col-md-3">
              <div class="title-producto-carro">Platinum <b>Hydrowhey</b></div>
              <div class="codigo-producto">Codigo producto:
              <span>WE297SH86WANCL</span>
            </div>
            </div>
            <div class="col-md-4">
              <button class="button-icon" type="button" name="button">
                <span>
                  <svg class="icon icon-eliminar" viewBox="0 0 24 24">
                <path d="M18.984 6.422l-5.578 5.578 5.578 5.578-1.406 1.406-5.578-5.578-5.578 5.578-1.406-1.406 5.578-5.578-5.578-5.578 1.406-1.406 5.578 5.578 5.578-5.578z"></path>
                </svg>
                </span>
                Eliminar producto
              </button>
              <div class="title-input"><span>Sabor</span>
                <input class="input-info" type="text" name="" value="Chocolate">
                <span><button class="btn-gys-default" type="button" name="button">
                  <svg class="icon" viewBox="0 0 32 32">
  <path d="M27.802 5.197c-2.925-3.194-7.13-5.197-11.803-5.197-8.837 0-16 7.163-16 16h3c0-7.18 5.82-13 13-13 3.844 0 7.298 1.669 9.678 4.322l-4.678 4.678h11v-11l-4.198 4.197z"></path>
  <path d="M29 16c0 7.18-5.82 13-13 13-3.844 0-7.298-1.669-9.678-4.322l4.678-4.678h-11v11l4.197-4.197c2.925 3.194 7.13 5.197 11.803 5.197 8.837 0 16-7.163 16-16h-3z"></path>
</svg>
</button></span>
              </div>
              <div class="title-input"><span>Cantidad</span>
                <input class="input-info" type="text" name="" value="1" >
                <span><button class="btn-gys-default" type="button" name="button">
                  <svg class="icon" viewBox="0 0 32 32">
  <path d="M27.802 5.197c-2.925-3.194-7.13-5.197-11.803-5.197-8.837 0-16 7.163-16 16h3c0-7.18 5.82-13 13-13 3.844 0 7.298 1.669 9.678 4.322l-4.678 4.678h11v-11l-4.198 4.197z"></path>
  <path d="M29 16c0 7.18-5.82 13-13 13-3.844 0-7.298-1.669-9.678-4.322l4.678-4.678h-11v11l4.197-4.197c2.925 3.194 7.13 5.197 11.803 5.197 8.837 0 16-7.163 16-16h-3z"></path>
</svg>
</button></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="title-precio">Precio unitario </div>
                <div class="precio-producto-carro">
                  <span>$35.000 <span class="precio-des-c">$45.000</span></span>
                </div>
              <div class="title-precio">Precio</div>
                <div class="precio-producto-carro">
                  <span>$35.000</span>
                </div>
            </div>
            <!-- box regalo  -->
            <div class="col-md-12">
              <div class="box-regalo-carro">
                    <div class="title-producto-carro">
                      <span>
                        <svg class="icon" viewBox="0 0 28 32">
                    <path d="M14 30h10v-10h-10v10zM2 30h10v-10h-10v10zM13.992 11.756c0.983-0.109 2.090-0.231 2.73-0.304 2.621-0.292 4.98-2.652 5.271-5.272 0.291-2.617-1.594-4.504-4.209-4.21-2.045 0.229-3.915 1.718-4.785 3.604-0.87-1.887-2.74-3.376-4.784-3.606-2.616-0.292-4.504 1.595-4.21 4.212 0.292 2.62 2.652 4.979 5.271 5.272 0.642 0.072 1.748 0.196 2.731 0.304-0.016 0.132-0.008 0.244-0.008 0.244h2c0 0 0.008-0.112-0.008-0.244zM17.355 4.396c1.414-0.158 2.438 0.861 2.277 2.277-0.156 1.416-1.434 2.692-2.848 2.851-1.418 0.157-2.438-0.862-2.279-2.278s1.436-2.692 2.85-2.85zM9.216 9.524c-1.414-0.158-2.689-1.435-2.848-2.851s0.862-2.436 2.275-2.277c1.416 0.157 2.692 1.434 2.851 2.85s-0.862 2.436-2.278 2.278zM14 12v6h12v-6h-12zM0 18h12v-6h-12v6z"></path>
                    </svg>
                      </span>
                      Regalo por compra
                      <b>PRO Complex</b>
                    </div>
              </div>
            </div><!-- box regalo  -->
            <i class="line-pro"></i>
        </div><!-- BOX PRODUCTO -->
        <!-- BOX PRODUCTO -->
        <div class="row box-producto-carro">
            <div class="col-md-2">
              <img src="images/platinum.png" alt="">
            </div>
            <div class="col-md-3">
              <div class="title-producto-carro">Platinum <b>Hydrowhey</b></div>
              <div class="codigo-producto">Codigo producto:
              <span>WE297SH86WANCL</span>
            </div>
            </div>
            <div class="col-md-4">
              <button class="button-icon" type="button" name="button">
                <span>
                  <svg class="icon icon-eliminar" viewBox="0 0 24 24">
                <path d="M18.984 6.422l-5.578 5.578 5.578 5.578-1.406 1.406-5.578-5.578-5.578 5.578-1.406-1.406 5.578-5.578-5.578-5.578 1.406-1.406 5.578 5.578 5.578-5.578z"></path>
                </svg>
                </span>
                Eliminar producto
              </button>
              <div class="title-input"><span>Sabor</span> <input class="input-info" type="text" name="" value="Chocolate"></div>
              <div class="title-input"><span>Cantidad</span><input class="input-info" type="text" name="" value="1" ></div>
            </div>
            <div class="col-md-3">
              <div class="title-precio">Precio unitario </div>
                <div class="precio-producto-carro">
                  <span>$35.000 <span class="precio-des-c">$45.000</span></span>
                </div>
              <div class="title-precio">Precio</div>
                <div class="precio-producto-carro">
                  <span>$35.000</span>
                </div>
            </div>

            <i class="line-pro"></i>
        </div><!-- BOX PRODUCTO -->

      </div>
      <div class="col-md-4">
        <div class="panel-carro-envio">
          <div class="form-group">
 <div class="title-medios-pago" >Costo de envio</div>
 <div class="dropdown drop-envio">
  <button  class="btn-drop" id="envio" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Seleccionar comuna
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    <li>Concepcion</li>
  </ul>
</div>
 <div class="text-right">
<button class="btn-gys" type="button" name="button">Calcular</button>
 </div>

</div>
        </div>

        <!--total carro  -->
        <div class="panel-total-carro">
            <div class="row box-costo">
              <div class="col-md-6">
                Subtotal
              </div>
              <div class="col-md-6 text-right">
                <div class="precio-producto-carro">
                  <span>$35.000</span>
                </div>
              </div>
            </div>
            <div class="row  box-costo">
              <div class="col-md-6">
                Costo de envío:
              </div>
              <div class="col-md-6">
                <div class="precio-producto-carro text-right">
                  <span>$35.000</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-right">
                <div class="alert-enviogratis"> Te faltan $ 9.01 0 para envío gratis</div>
              </div>
            </div>
            <div class="row box-total">
              <i class="line-top"></i>
              <div class="col-md-6">
                Total
              </div>
              <div class="col-md-6 text-right">
                <div class="precio-producto-carro">
                  <span>$35.000</span>
                </div>
              </div>
            </div>
        </div><!--total carro  -->
        <!--Medios de pago  -->
        <div class="medios-pago">
          <div class="title-medios-pago">Medio de pago</div>
          <div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#webpay" aria-controls="webpay" role="tab" data-toggle="tab">
          <svg class="icon" viewBox="0 0 20 20">
  <path d="M18 3h-16c-1.101 0-2 0.9-2 2v10c0 1.1 0.899 2 2 2h16c1.1 0 2-0.9 2-2v-10c0-1.1-0.9-2-2-2zM18 15h-16v-6h16v6zM18 6h-16v-1h16v1zM4 11.1v0.6h0.6v-0.6h-0.6zM7.6 12.299v0.601h1.2v-0.601h0.6v-0.6h0.6v-0.6h-1.2v0.6h-0.601v0.6h-0.599zM10 12.9v-0.601h-0.601v0.601h0.601zM7 12.9v-0.601h-1.2v0.601h1.2zM7.6 11.699h0.6v-0.6h-1.2v1.199h0.6v-0.599zM5.199 12.299h0.601v-0.6h0.6v-0.6h-1.2v0.6h-0.6v0.6h-0.6v0.601h1.199v-0.601z"></path>
</svg>  webpay
        </a>
      </li>
      <li role="presentation">
        <a href="#deposito" aria-controls="deposito" role="tab" data-toggle="tab">
          <svg class="icon" viewBox="0 0 24 24">
<path d="M5 0v3h-3v21h17v-3h3v-21h-17zM17 22h-13v-17h1v16h12v1zM20 19h-13v-17h13v17zM15 5h-6v2h6v-2zM18 8h-9v1h9v-1zM18 10h-9v1h9v-1zM18 12h-9v1h9v-1zM12 14h-3v1h3v-1z"></path>
</svg>
        Deposito bancario</a>
      </li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="webpay">
        <textarea  class="comentario-pedido" name="name" placeholder="Ingrese un comentario a la venta"></textarea>
        <div class="text-right">
              <button class="btn-gys" type="button" name="button">Finalizar compra</button>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="deposito">
        <textarea  class="comentario-pedido" name="name" placeholder="Ingrese un comentario a la venta"></textarea>
        <div class="text-right">
              <button class="btn-gys" type="button" name="button">Finalizar compra</button>
        </div>
      </div>
    </div>

  </div>
        </div>
        <!-- Fin medio de pago -->
      </div>
    </div>
</div> <!-- Fin del container-fluid -->
