@font-face {
  font-family: spaceAge;
  src: url('../fonts/spaceage.ttf') format('truetype');
}

.logo_login{
	font-family: spaceAge;
	font-size: 30px;
}
.logo_admin{
	font-family: spaceAge;
	font-size: 15px;
}

.text-white{
	color:#fff!important;
}

.upload_image_crop{
    max-width: 100%;
}

#fotoAddProducto{
	width: 500px;
	height: 300px;
	position:relative; /* or fixed or absolute */
}
.croppie-container .cr-slider-wrap {
    width: 75%;
    margin: 7px auto;
}
.upload-demo .upload-demo-wrap,
.upload-demo .upload-result,
.upload-demo.ready .upload-msg {
    display: none;
}
.upload-demo.ready .upload-demo-wrap {
    display: block;
}
.upload-demo.ready .upload-result {
    display: inline-block;    
}
.upload-demo-wrap {
    width: 500px;
    height: 300px;
    margin: 0 auto;
}

.upload-msg {
    text-align: center;
    padding: 50px;
    font-size: 22px;
    color: #aaa;
    width: 260px;
    margin: 50px auto;
    border: 1px solid #aaa;
}
